body {
  font-family: 'Roboto', sans-serif;
  background: #1e1e1e;
  color: white;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    padding: 12px 25px;
}

.header > .nav-bar > .explore {
    color: yellow;
    margin-bottom: 5px;
}

.header > .nav-bar > .nav-items {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
}

.header > .spark {
    color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 12px;
}

.header > .spark > .chevron-down {
    width: 8px;
    height: 8px;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    transform: rotate(45deg);
}

.header > .header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 18px;

}

.header > .header-buttons > .create-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
    padding: 15px;
    background-color: #4D4949;

}

.header > .header-buttons > .create-button > .chevron-down {
    width: 12px; 
    height: 12px; 
    border-right: 3px solid #6dda7c; 
    border-bottom: 3px solid #6dda7c; 
    transform: rotate(45deg); 
    background-color: #4D4949;   
}

.header > .header-buttons > .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
    padding: 15px;
    color: lightgray;
    font-size: xx-large;
}


.header > .header-buttons > .log-in-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
    padding: 15px;
    background-color: #4D4949;
}

.header > .header-buttons > .sign-up-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 18px;
    padding: 15px;
    background-color: #4D4949;
}

.hero-section {
    background-color: #3B3636;
    color: white;
    margin-top: -10px;
    margin-right: -30px;
    margin-bottom: -50px;
    height: 550px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section > .right-column {
    position: relative;
    height: fit-content;
    margin-right: 0;
    margin-bottom: 0;
}

.hero-section > .right-column > .image-text {
    position: relative;
    bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.hero-section > .right-column > .image-text > .white {
    color: white;
}

.hero-section > .right-column > .image-text > .blue {
    color: aqua;
}

.hero-section > .right-column img {
    width: 575px;
    height: 475px;

}

.hero-section {
    columns: 2;
    row-gap: 0;
}

.hero-section > .left-column {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.hero-section > .left-column > .main-text h3 {
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 1.3;
}

.hero-section > .left-column > .main-text p {
    font-size: 25px;
    color: lightgray;
    margin-left: 30px;
    margin-bottom: 40px;
}

.hero-section > .left-column > .buttons {
    font-size: xx-large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    height: 75px;
    position: relative;
    margin-left: 30px;
}


.hero-section > .left-column > .buttons > .sign-up-button {
    border-color: #6dda7c;
    background-color: #6dda7c;
    color: black;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15px;
}

.hero-section > .left-column > .buttons > .learn-more-button {
    border-color: black;
    background-color: black;
    color: white;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer {
    background-color: #4D4949;
    font-size: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    height: 75px;
    position: relative;
    align-items: center;
}

.footer > .footer-text-1 {
    border: solid 2px lightgray;
    padding: 25px;
    padding-left: 103px;
    padding-right: 103px;
    margin: 0;
}

.footer > .footer-text-2 {
    border: solid 2px lightgray;
    padding: 25px;
    padding-left: 103px;
    padding-right: 103px;
    margin-left: 0;
}

.footer > .footer-text-3 {
    border: solid 2px lightgray;
    padding: 25px;
    padding-left: 103px;
    padding-right: 103px;
    margin-left: 0;
}

.footer > .footer-text-4 {
    border: solid 2px lightgray;
    padding: 25px;
    padding-left: 103px;
    padding-right: 103px;
    margin-left: 0;
}

